{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Homepage des questionnaires</h1>
    <a href="/lister">GO ....</a>
    <h1></h1>
    <a href="/Questionnaire">Création du questionnaire</a>
    <h1></h1>
    <a href="/Question">Création des questions</a>
    <h1></h1>
    <a href="/Etudiant">inscription étudiants</a>
    <h1></h1>
    <a href="/qcmfait">Liste des questionnaire finis</a>


{% endblock %}

