{% include "href.html.twig" %}
{% block block %}
    <div class="block">
        <label>Connection</label>
        <h1></h1>
        <label>Admin nom</label>
        <h1></h1>
        <input type="text" name="admin" required>
        <label>Mot de passe</label>
        <h1></h1>
        <input type="password" name="pass" required>
        <h1></h1>
        <input type="submit">
        <h1></h1>
    </div>
{% endblock %}