<a href="/">Etudiants</a>
<h1></h1>
<a href="qcmfait" >Qcm faits</a>
<h1></h1>
<a  href="/questionnaires" >Questionnaires</a>
<h1></h1>
<a  href="/questions" >Questions</a>
<h1></h1>
<a  href="/reponses" >Ajouter une réponse</a>
<h1></h1>
<a href="/questionquestionnaire">Ajouter une question a un questionnaire</a>
<h1></h1>
<a href="/questionreponse" >Associer une réponse à une question</a>
<h1></h1>
<a href="/connection" >Se connecter</a>

