{% block block %}
<form action="questionnaires" method="post">
    <div class="block">
        <h1></h1>
        <label>Ajouter un questionnaire</label>
        <h1></h1>
        <label>Libellé questionnaire</label>
        <h1></h1>
        <input type="text" name="libelleQuestionnaire">
        <h1></h1>
        <input type="submit" value="Ajouter un questionnaire">
        <h1></h1>
    </div>
</form>
{% endblock %}