{% block blcok %}
    <form action="questionquestionnaire" method="post">
        <div class="block">
            <h1></h1>
            <h1>Donner une question à un questionnaire</h1>
            <h1></h1>
            <label>Id Questionnaire</label>
            <h1></h1>
            <input type="number" name="idQuestionnaire" required>
            <h1></h1>
            <label>Id Question</label>
            <h1></h1>
            <input type="number" name="idQuestion" required>
            <h1></h1>
            <input type="submit" value="Ajouter/Associer">
            <h1></h1>
        </div>
    </form>
{% endblock %}