{% block content %}
<form action="reponses" method="post">
    <div class="content">
        <h1></h1>
        <label>Ajouter d'une réponse</label>
        <h1></h1>
        <label>Id Réponse</label>
        <h1></h1>
        <input type="number" name="idReponse" required>
        <h1></h1>
        <label>Valeur</label>
        <h1></h1>
        <input type="text" name="valeur" >
        <h1></h1>
        <input type="submit" value="Ajouter une question">
    </div>
</form>
{% endblock %}