
<h1> <input type="text" name="Question" class="form-control" placeholder="" required="required" autocomplete="off"> </h1>

<h1> <input type="text" name="Reponse1" class="form-control" placeholder="" required="required" autocomplete="off"> </h1>

<h1> <input type="text" name="Reponse2" class="form-control" placeholder="" required="required" autocomplete="off"> </h1>

<h1> <input type="text" name="Reponse3" class="form-control" placeholder="" required="required" autocomplete="off"> </h1>

<h1> <input type="text" name="Reponse4" class="form-control" placeholder="" required="required" autocomplete="off"> </h1>

<form action = '' method= 'post'>
    <input style='font-size: 25px;color: whitesmoke;margin-left: 35px;margin-top: 210px'    type= 'submit' name='next' value='Suivant'>  </input></form>

    